<% @page_title = 'Sidor' -%>
<% @page_class = 'layout3' -%>
<%= render :partial => 'admin/pages/sub_nav' %>
<div id="workspace">
  <div class="header">
    <h1>Sökresultat för ”<%= @query %>”</h1>
  </div>
  <div class="tools">
    <div class="add">
      Lägg till:
      <% @field_sets.each do |field_set| -%>
        <%= link_to field_set.title, (!current_scopes[:with_parent] ? new_admin_page_path(:page => { :field_set_id => field_set.id }) : new_admin_page_path(:page => { :field_set_id => field_set, :parent_id => current_scopes[:with_parent].split(',')[0], :parent_type => current_scopes[:with_parent].split(',')[1] })), :class => 'new' %>
      <% end if @field_sets.any? %>
    </div>
  </div>
  <div id="content">
    <ul class="items">
    <% @search.results.each do |page| %>
      <li>
        <%= render :partial => page.template.views.admin_in_list, :locals => { :page => page } %>
      </li>
    <% end %>
    </ul>
  </div>
</div>