#nav:after,
#main_nav:after,
#wrap:after,
#workspace .groups:after,
.items li:after,
#assets .items .inner:after,
.add:after,
#uploader li:after,
#uploader .totals:after,
#workspace .tools:after,
#workspace .tools .add:after,
.theme:after,
.batch_edit .asset:after,
#asset_usages:after,
#asset_usages div:after,
#tags_view .taggable:after,
.page_content:after,
.page_content .content:after,
.contents li.content:after {
  content:".";
  display:block;
  height:0;
  line-height:0;
  clear:both;
  visibility:hidden; }
body {
  background: #fff; }

#nav {
  position:relative;
  padding:10px 30px 0 30px;
  background:#000;
  overflow:hidden;}

  #nav ul {
    list-style:none;
    margin:0; }
    #nav ul li {
      margin:0;
      padding:0;
      display:inline; }
      #nav a {
        padding:7px 10px 7px 10px;
        font-size:.8571em;
        color:rgb(255,242,0);
        text-decoration:none; }

  #main_nav,
  #recent_nav {
    float:left;
    margin-right:10px; }
  #recent_nav {
    position:absolute;
    top:42px;
    left:450px;}
  #main_nav a {
    float:left;
    margin-right:15px;
    margin-bottom:-3px;
    padding-bottom:10px;
    padding-top:42px; }
  #main_nav a:hover,
  #account_nav a:hover,
  #site-structure_view .nodes_index a,
  #users_view .users_index a,
  #assets_view .assets_index a,
  #pages_view .pages_index a,
  #link_lists_view .link_lists_index a {color:#fff;}
    #main_nav .pages_index a         {background:transparent url(/graphics/porthos/ui_new.png) 50% -200px no-repeat;}
    #main_nav .nodes_index a         {background:transparent url(/graphics/porthos/ui_new.png) 50% -280px no-repeat;}
    #main_nav .assets_index a        {background:transparent url(/graphics/porthos/ui_new.png) 50% -130px no-repeat;}
    #main_nav .users_index a         {background:transparent url(/graphics/porthos/ui_new.png) 50% -358px no-repeat;}
  #account_nav {float:right;}
    #account_nav a {padding:7px 12px 7px 12px;}
  #recent_nav a {
    float:left;
    margin-right:10px;
    padding:8px 15px 7px 15px;
    font-size:1em;
    font-weight:bold;
    color:#fff; }
  #recent_nav a:hover {background:#222;}
  #recent_nav li.current a {
    color:#000;
    background:#fff; }

#users_view #nav ul li.user a {
  text-decoration:none;
  font-weight:bold;
  background:#222;
  color:#fff; }

#wrap {}

body.layout2 {
  background:rgb(214,221,229) url(/graphics/porthos/layout2_bg_shadow.png) 0 0 repeat-y; }

body.layout2 #wrap {
  padding-left:180px; }

body.layout2 #sub_nav {
  float:left;
  width:180px;
  margin-left:-180px; }

body.layout2 #workspace {
  float:left;
  width:100%; }

body.layout3 {
  background:rgb(214,221,229) url(/graphics/porthos/layout3_bg_shadow.png) 100% 0 repeat-y; }

body.layout3 #wrap {
  padding-right:300px; }

body.layout3 #sub_nav {
  float:right;
  width:300px;
  margin-right:-300px; }

body.layout3 #workspace {
  float:left;
  width:100%; }

#sub_nav {
  border-top:10px solid #000;
  padding-top:1em; }
  #sub_nav form,
  #sub_nav ul.filter,
  #sub_nav ul.tags,
  #sub_nav ul.nav li a,
  #sub_nav .label {
    padding:.5em 40px .45em 20px; }
  #sub_nav .back {
    display:block;
    padding:.3em 20px .3em 40px;}
  #sub_nav p {
    margin:0;
    font-size:12px;
    padding:0 20px .5em 20px;
    color:#8598a4;}
  #sub_nav ul.sortable li {
    position:relative;
    margin:0; }
    #sub_nav ul.sortable li:hover .drag_handle {
      position:absolute;
      display:block;
      top:1px;
      left:16px;
      cursor:move;
      height:25px;
      width:20px;
      background:transparent url(/graphics/porthos/ui_new.png) 0 -790px no-repeat; }
  #sub_nav .label {
    margin:1em 0 1em 0;
    font-size:12px;
    text-transform:uppercase;
    border-bottom:1px dashed #ccc;
    color:#8598a4; }

  #sub_nav #publish_now {padding:10px 20px;}

#tags_view .taggables {
  list-style:none; }
  #tags_view .taggables li {margin:0 0 1em 0;}
  #tags_view .taggables .tags,
  #tags_view .taggable.page .meta {
    font-size:12px;
    line-height:14px;
    color:#666; }
  #tags_view .taggable.page .title,
  #tags_view .taggable.page .meta {display:block;}
  #tags_view .taggable.asset {
    padding-left:70px; }
    #tags_view .taggable.asset img {
      margin:0 0 0 -70px;
      float:left;}

#workspace {
  margin:0 0 0 0;
  background:#fff; }
  #workspace .header {
    padding:20px 40px 20px 40px;
    border-bottom:1px solid #e1e1e1;
    background:rgba(55,128,199,.05); }
    #workspace .header h1 {display:inline;}
      #workspace .header h1 img.cover {
        margin:-10px 8px -14px 0;}
      #workspace .header h1 .pre {
        font-size:12px;
        font-weight:normal;
        color:#666;
        text-transform:uppercase; }
    #workspace .header a.action {
      margin-left:1.5em;
      padding:5px 0 5px 18px;
      font-size:.8571em;
      text-decoration:none;
      color:#666; }
      #workspace .header a.action:hover {color:#005e96;}
    #workspace .header .private {
      color:#c41134; }
    #workspace .header .edit_settings {
      background:transparent url(/graphics/porthos/ui_new.png) 0 -680px no-repeat; }
    #workspace .header .public_link {
      background:transparent url(/graphics/porthos/ui_new.png) 0 -630px no-repeat; }
    #workspace .header .away { float:right; }
    /* Page header */
    #workspace .header {}
      #workspace .header .parents {margin-bottom:.2em;}
      #workspace .header .parents a {
        margin:0;
        padding:0;
        font-size:1em; }
      #workspace .header .page_title {
        margin:.5em 0 .6em 0;}
      #workspace .header .slug,
      #workspace .header .navigation {
        font-size:.8571em; }
        #workspace .header .slug .key,
        #workspace .header .navigation .key {
          margin-right:.5em;
          color:#aaa; }
        #workspace .header .navigation .value {font-weight:bold;color:#000;}
        #workspace .header .status {
          margin-left:.5em;
          line-height:1;
          padding:2px 4px 1px 4px;
          background:green;
          color:#fff;
          text-transform:uppercase;
          font-size:9px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px; }
          #workspace .header .inactive {background:#d00;}
          #workspace .header .hidden {background:#aaa;}
      #workspace .header form {
        width:70%; }
        #workspace .header label:first-child {
          margin-top:0; }
        #workspace .header form .multiple_choice {margin:1em 0;}
  #workspace .tools,
  #workspace .adding {
    padding:10px 40px;
    font-size:.8571em;
    background:#f8f9f9;
    border-bottom:1px solid #e1e1e1; }
    #workspace .tools a {
      padding:7px;
      text-decoration:none; }
    #workspace .tools .add {
      float:left;
      padding-right:3.5em;
      margin:0; }
      #workspace .tools .add .from_library {
        float:left;
        margin:7px 0 0 .5em; }
    #workspace .tools .actions {
      float:left;
      padding:7px 4em 7px 4em;
      border-left:1px dashed #bbb;
      color:#aaa; }
      #workspace .tools .actions a {
        margin-left:15px;
        padding-left:27px; }
      #workspace .tools .actions a.inactive {
        cursor:default;
        color:#ccc; }
      #workspace .tools .actions #edit_selected {background:transparent url(/graphics/porthos/ui_new.png) -900px -400px no-repeat;}
      #workspace .tools .actions #remove_selected {background:transparent url(/graphics/porthos/ui_new.png) -900px -520px no-repeat;}
      #workspace .tools .actions #make_selected_cover {background:transparent url(/graphics/porthos/ui_new.png) -900px -460px no-repeat;}
      #workspace .tools .actions #edit_selected:active,
      #workspace .tools .actions #edit_selected.inactive {background:transparent url(/graphics/porthos/ui_new.png) 0 -400px no-repeat;}
      #workspace .tools .actions #remove_selected:active,
      #workspace .tools .actions #remove_selected.inactive {background:transparent url(/graphics/porthos/ui_new.png) 0 -520px no-repeat;}
      #workspace .tools .actions #make_selected_cover:active,
      #workspace .tools .actions #make_selected_cover.inactive {background:transparent url(/graphics/porthos/ui_new.png) 0 -460px no-repeat;}
      #workspace .tools .actions #add_selected_to_set {background:transparent url(/graphics/porthos/ui_new.png) -900px -1000px no-repeat;}
      #workspace .tools .actions #add_selected_to_set:active,
      #workspace .tools .actions #add_selected_to_set.inactive {background:transparent url(/graphics/porthos/ui_new.png) 0 -1000px no-repeat;}

      #workspace .tools #create_placements,
      #workspace .tools #create_placements div {display:inline;}

    #workspace .tools .sort {
      float:right;
      padding-top:7px; }
      #workspace .tools .sort label {
        margin:0 .3em 0 0;
        display:inline;
        font-size:12px;
        font-weight:normal;
        color:#666; }
      #workspace .tools .sort select {margin:0;}
  #workspace .adding select {margin:0;}
  #workspace .adding label {
    font-size:1em;
    display:inline;
    margin:0;
    line-height:1;}
  #workspace #content {
    background:#fff;
    padding:20px 40px;}
    #workspace #c_1 {
      float:left;
      width:100%;
      margin-bottom:30px;}
      #workspace #c_1 > .inner {
        padding-right:40px;
        border-right:1px dashed #ccc;
        margin-right:330px; }
    #workspace #c_2 {
      width:330px;
      float:left;
      margin:0 0 0 -330px; }
      #workspace #c_2 > .inner {padding-left:40px;}

#footer {}
  #footer .inner {}

#uploader {margin-bottom:50px;}
  #init_file_dialogue h2 {margin-bottom:0;}
  #init_file_dialogue p {margin-top:0;}
  #uploader h2 {font-size:24px;}
  #uploader ul {
    list-style:none;
    margin:0;
    border:1px solid #ccc;
    height: 200px;
    width:500px;
    overflow-y:auto;}
  #uploader li,
  #uploader .totals {
    margin:0;
    padding:7px 5px 5px 5px;
    border-bottom: 1px solid #ddd; }
    #uploader li .name,
    #uploader li .size,
    #uploader li .progress,
    #uploader .totals .add_more,
    #uploader .totals .size {float:left;}
    #uploader li .name,
    #uploader .totals .add_more {
      width:335px;
      color:#555;}
    #uploader .size {
      width:70px;
      font-style:italic;
      text-align:right;}
    #uploader li .progress {
      width:70px;
      text-align:right; }
    #uploader .progress {
      color:#a8b561;
      font-weight:bold; }
  #uploader .totals {
    margin-bottom:2em;
    width:490px;
    border:1px solid #ccc;
    border-top:none; }
    #uploader .totals .size,
    #uploader .totals .progress {
      font-weight:bold;
      color:#000; }
    #uploader .totals .progress {
      float:left;
      width:70px;
      text-align:right; }
  #uploader #upload_complete {
    padding:7px 0 7px 35px;
    background:transparent url(/graphics/ui.png) -19px -366px no-repeat; }
.swfupload { position:absolute; }

body#pages_view #pages_list {list-style:none;}
  body#pages_view #pages_list li {
    margin:0; }
  body#pages_view #pages_list .title {font-size:16px;}
  body#pages_view #pages_list .updated_at {
    display:block;
    margin:0 0 1em 1em;
    font-size:12px;
    color:#666; }


ul#nodes, ul#nodes ul {
  list-style:none;
  margin:0; }
  ul#nodes li {
    margin:0; }
  ul#nodes li .toggle_handle {
    float:left;
    margin:0 0 0 -30px;
    padding:6px 4px 4px 4px;
    line-height:.2;
    background:#fff;
    color:#000;
    border:1px solid #ddd;
    -webkit-border-radius:4px;
    font-weight:bold; }
    ul#nodes li .toggle_handle:hover {
      border:1px solid #ccc;
      background:#f7f7f7;}
  ul#nodes li > div,
  #root {
    border-top:1px solid #ddd;
    padding:.8em 0 .8em 40px; }
    ul#nodes li > div:hover,
    #root:hover {background:#fff;}
  ul#nodes li > div.active .name {
    color:#000;
    font-weight:bold; }
  ul#nodes li > div.inactive .name {
    font-style:italic;
    color:#a00;}
  ul#nodes li .name,
  #root .name {
    display:inline-block;
    width:300px; }
  ul#nodes li .edit,
  #root .edit {
    display:none;
    font-size:12px;
    margin-left:1em; }
    ul#nodes li .edit a,
    #root .edit a {margin-left:.5em;}
  ul#nodes li div:hover .edit,
  #root:hover .edit {display:inline;}
  ul#nodes ul.placeholder,
  #root ul.placeholder {display:none;}
  ul#nodes ul li {margin-left:3em;}
  ul#nodes ul li > div {border-top:0;}

#userslist {}
  #userslist li {
    display:inline-block;
    width:33%;
    min-height:80px;
    vertical-align:top;
    margin:0 0 1em 0;
    padding:0; }
    #userslist .vcard { padding-left:60px; }
    #userslist .vcard img.avatar {
      float:left;
      margin-left:-60px; }
    #userslist .vcard .tel,
    #userslist .vcard .email,
    #userslist .vcard .edit {
      font-size:12px; }

.drag_handle {
  position:absolute;
  display:block;
  top:0px;
  left:0px;
  cursor:move;
  height:25px;
  width:25px;
  background:transparent url(/graphics/porthos/ui_new.png) 0 -792px no-repeat; }


#asset_usages {}
  #asset_usages div {
    position:relative;
    border-top:1px solid #ccc;
    padding:10px 0 10px 30px; }
  #asset_usages img {
    margin-right:10px;
    float:left;}
  #asset_usages .edit {
    position:absolute;
    font-size:12px;
    top:0;
    right:0;
    background:rgba(255,255,255,.8);
    display:block; }
    #asset_usages .edit a {
      display:inline-block;
      padding:10px 5px;
      vertical-align:middle; }
  #asset_usages .drag_handle {
    position:absolute;
    display:block;
    top:10px;
    left:0;
    cursor:move;
    height:25px;
    width:20px;
    background:transparent url(/graphics/porthos/ui_new.png) 0 -790px no-repeat; }

ul.sortable {margin-left:-25px;}
  ul.sortable .drag_handle {display:none;}
  ul.sortable li {
    padding-left:25px;
    position:relative;}
  ul.sortable li:hover .drag_handle {
    display:block;
    top:4px;
    left:0; }

table.sortable {
  margin-left:-40px; }
  table.sortable th.placeholder {
    padding:0;
    width:40px;
    background:transparent;  }
  table.sortable tbody tr {
    width:100%; }
  table.sortable tr:nth-child(odd) td.handle,
  table.sortable td.handle,
  table.sortable tr:hover td.handle {
    padding:0;
    text-align:center;
    width:40px;
    background:transparent;
    cursor:pointer;}
  table.sortable tr .drag_handle {display:none;}
  table.sortable tr:hover .drag_handle {
    position:relative;
    display:block;
    margin-left:15px;
    margin-top:1px; }

#sessions_view {
  background:#f2f2f2; }
  #sessions_view #wrap {
    margin:30px auto;
    padding:30px;
    background:#fff;
    width:500px; }
  #sessions_view .remember_me {
    margin:-1em 115px 1em 115px; }
  #sessions_view fieldset {
    border-bottom:0;
    padding:15px 115px 15px 115px; }
  #sessions_view .submit {
    padding-top:0;
    padding-bottom:1em;
    border-top:none;
    border-bottom:1px solid #ddd; }
  #sessions_view .forgot {
    margin:2em 0 0 0;
    font-size:.95em;
    padding-left:115px; }
  #sessions_view .flash {margin-bottom:1em;}

#field_form {}
 #field_form #field_types {display:none;}

#assets_view .items {
  width:100%;
  overflow:hidden; }
#assets_view .items li {
  display:inline-block;
  vertical-align:top;
  min-height:100px;
  width:47%;
  margin-right:20px;
  padding-left:0; }
  #assets_view .items div.inner { padding-left:115px; }

#assets_view.incomplete .describe_asset {
  border-top:1px solid #ccc;
  padding:0 0 20px 290px;
  clear:left; }
  #assets_view.incomplete .describe_asset .preview {
    float:left;
    margin:20px 0 0 -290px; }