<% @page_class = @page_renderer.layout_class -%>
<% @page_title = @page_renderer.title -%>
<% @page_id    = @page_renderer.page_id -%>
<div id="content">
  <h1><%= @page_renderer.category.name %></h2>
  <ul>
  <% @page_renderer.pages.each do |page| %>
    <li>
      <%= link_to page.title, permalink_by_category_page_path(@page_renderer.category, page) %>
    </li>
  <% end %>
  </ul>
</div>