<% @page_class = @page_renderer.layout_class -%>
<% @page_title = @page_renderer.title -%>
<% @page_id    = @page_renderer.page_id -%>
<div id="content">
  <h1><%= @page_renderer.title %></h2>
  <ul>
  <% @page_renderer.categories.each do |category| %>
    <li>
      <%= link_to category.name, field_set_category_path(@page_renderer.field_set, category) %>
    </li>
  <% end %>
  </ul>
</div>