<% @page_class = @page_renderer.layout_class -%>
<% @page_title = @page_renderer.title -%>
<% @page_id = 'pages-show' -%>
<div id="content">
  <% @page_renderer.page.data.each do |datum| -%>
  <% end -%>
</div>
