<% @page_title = "Filarkiv" %>
<% @page_class = "AB" %>
<div id="content">
<div id="c-b">
</div>
<div id="c-a">
  <form id="new_files">
    <h1 class="header">Beskriv de uppladdade filerna</h1>
    <p>Filerna är nu uppladdade, skriv in namn, beskrivning och nyckleord för varje fil.</p>
    <fieldset>
      <div class="image">
        <img src="/graphics/admin/image-missing.gif" width="300" height="200" alt="Bild saknas">
      </div>
      <div class="meta">
        <label for="title_0">Titel/Alt text</label>
        <input type="text" size="30" class="title" id="title_0">
        <label for="description_0">Beskrivning</label>
        <textarea id="description_0" class="description"></textarea>
        <label for="copyright_0">Fotograf/copyright</label>
        <input type="text" size="40" id="copyright_0">
        <label for="tags_0">Nyckelord</label>
        <input type="text" size="40" id="tags_0">
      </div>
    </fieldset>
    <fieldset>
      <div class="image">
        <img src="/graphics/admin/image-missing.gif" width="300" height="200" alt="Bild saknas">
      </div>
      <div class="meta">
        <label for="title_1">Titel/Alt text</label>
        <input type="text" size="30" class="title" id="title_1">
        <label for="description_1">Beskrivning</label>
        <textarea id="description_1" class="description"></textarea>
        <label for="copyright_1">Fotograf/copyright</label>
        <input type="text" size="40" id="copyright_1">
        <label for="tags_1">Nyckelord</label>
        <input type="text" size="40" id="tags_1">
      </div>
    </fieldset>
    <div class="submit">
      <input type="submit" value="Spara beskrivningar">
    </div>
  </form>
</div>
</div>