<% @page_class = @renderer.layout_class -%>
<% @page_title = @renderer.title -%>
<% @page_id    = @renderer.page_id -%>
<div id="content">
  <h1><%= @renderer.category.name %></h2>
  <ul>
  <% @renderer.pages.each do |page| %>
    <li>
      <%= link_to page.title, permalink_by_category_page_path(@renderer.category, page) %>
    </li>
  <% end %>
  </ul>
</div>