<% if asset_usage.asset -%>
<div id="asset_usage_<%= asset_usage.id %>">
  <span class="drag_handle"></span>
  <%= image_tag display_image_path(:id => asset_usage.asset, :size => 'c100x100', :format => asset_usage.asset.extname) %>
  <span class="edit">
    <%= link_to "Inställningar", edit_admin_asset_usage_path(:id => asset_usage, :return_to => request.request_uri), :class => 'asset_usage_settings' %>
    <%= link_to "Ta bort", admin_asset_usage_path(:id => asset_usage, :return_to => request.request_uri), :method => :delete, :confirm => "Ta bort?" %>
  </span>
</div>
<% end -%>