<% @page_class = 'layout1' %>
<div id="workspace">
  <div class="header">
    <h1>Ändra inställningar</h1>
  </div>
  <div id="content">
    <% form_for :asset_usage, :url => admin_asset_usage_path(@asset_usage, :return_to => (@asset_usage.parent.content.nil? ? '' : edit_admin_content_path(@asset_usage.parent.content))), :html => { :method => :put } do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>
      <div class="submit">
        <%= submit_tag 'Spara' %> eller <%= link_to "avbryt", previous_view_path, :class => 'cancel' %>
      </div>
    <% end %>
  </div>
</div>