<% @page_title = "Sidtyper > #{@template.label} > Lägg till fält" %>
<% @page_class = 'layout2' -%>
<% @page_id = 'site-settings' -%>
<div id="sub_nav">
  <%= render :partial => 'admin/shared/settings_sub_nav' %>
</div>
<div id="workspace">
  <div class="header">
    <h1>Nytt <%= @datum_template.class.model_name.human %> i <%= @template.label %></h1>
  </div>
  <div id="content">
    <%= render 'form' %>
  </div>
</div>