<% @page_title = t('.title') %>
<div id="workspace">
  <div class="header">
    <h1><%=t '.title'%> </h1>
  </div>
  <div id="content">
    <%= form_for [:admin, @content], :as => :content, :url => admin_contents_path do |f| %>
      <%= render :partial => 'admin/contents/textfields/form', :locals => { :f => f } %>
    <% end %>
  </div>
</div>