<% @page_class = 'layout2' -%>
<% @page_id = 'site-settings' -%>
  <div id="sub_nav">
    <%= render :partial => 'admin/shared/settings_sub_nav' %>
  </div>
  <div id="workspace">
    <div class="header">
      <h1>Installera ny modul</h1>
    </div>
    <div id="content">
      <% form_for :content_module, :url => admin_content_modules_path, :html => { :class => 'tiny' } do |f| %>
        <fieldset>
          <legend style="display:none">Installera en ny modul</legend>
          <%= render :partial => 'form', :locals => { :f => f } %>
        </fieldset>
        <div class="submit">
          <%= submit_tag 'Installera' %> eller <%= link_to "avbryt", previous_view_path(admin_content_modules_path) %>
        </div>
      <% end %>
    </div>
  </div>