<%= f.label :value, datum.label, :for => "datum_#{datum.id}_value" %>
<% if datum.instruction_body %>
  <p class="instructions"><%= datum.instruction_body %></p>
<% end %>
<%= f.text_field :value, :value => (datum.value.present? ? datum.value.in_time_zone.strftime("%Y-%m-%d") : ''), :class => 'date', :id => "datum_#{datum.id}_value" %>
