<div id="main_nav">
  <ul>
    <li class="pages_index"><%= link_to "Sidor", admin_items_path %></li>
    <li class="nodes_index"><%= link_to "Navigation", admin_nodes_path %></li>
    <li class="assets_index"><%= link_to "Filarkiv", admin_assets_path %></li>
    <li class="users_index"><%= link_to t(:admins), admin_users_path %></li>
  </ul>
</div>