<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Porthos | Logga in</title>
  <%= stylesheet_link_tag 'admin' %>
</head>
<body<%= body_attributes %>>
<div id="wrap">
  <%= flash_messages %>
  <div id="header">
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>
</body>
</html>
