<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Porthos | Logga in</title>
  <%= stylesheet_link_tag "porthos/elements", "porthos/layout" %>
</head>
<body<%= raw body_attributes %>>
<div id="wrap">
  <%= flash_messages %>
  <div id="header">
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>
</body>
</html>
