<ul class="nodes">
<% nodes.each do |node| %>
  <li id="node_<%= node.id %>" class="<%= cycle("odd", "even") %> node">
    <% if local_assigns[:place] %>
      <%= render 'place_node', node: node, trail: trail %>
    <% else %>
      <%= render 'node', node: node, trail: trail %>
    <% end %>
  </li>
<% end %>
</ul>
