<ul class="nodes">
<% nodes.each do |node| %>
  <li id="node_<%= node.id %>" class="<%= cycle("odd", "even") %> node">
    <% if place %>
      <%= render :partial => 'place_node.html.erb', :locals => { :node => node, :trail => trail } %>
    <% else %>
      <%= render :partial => 'node.html.erb', :locals => { :node => node, :trail => trail } %>
    <% end %>
  </li>
<% end %>
</ul>