<% begin %>
<%= render partial: "admin/data/fields/#{datum.input_type}", locals: { datum: datum } %>
<% rescue ActionView::MissingTemplate => e %>
<p class="error">
  Couldn't find template for field with input type ”<%= datum.input_type %>”
  (<%= e.message %>)
</p>
<% end %>
