<% begin %>
<%= render partial: "admin/data/fields/#{datum.input_type}_form", locals: { f: f, datum: datum } %>
<% rescue ActionView::MissingTemplate => e %>
<p class="error">
  Couldn't find template form for field with input type ”<%= datum.input_type %>”
  (<%= e.message %>)
</p>
<% end %>
