<% datum.data.each do |d| %>
  <div class="field_datum" id="datum_<%= d.id %>">
    <div class="viewable">
      <%= render :partial => "admin/data/#{(d.is_a?(StringField) ? 'field' : d.class.to_s.underscore)}", :locals => { :datum => d }%>
    </div>
  </div>
<% end %>