<% if datum._parent_document.is_a?(DatumCollection) %>
<%= hidden_field_tag 'parent_id', datum._parent_document.id %>
<% end %>
<%= f.label :page_id, datum.label, :for => "datum_#{datum['_id']}_page_id" %>
<% if datum.instruction_body %>
  <p class="instructions"><%= datum.instruction_body %></p>
<% end %>
<%= f.select :page_id, datum.targets.collect { |page| [page.title, page.id] }, { include_blank: t('choose') }, :id => "datum_#{datum['_id']}_page_id", 'data-placeholder' => t('choose'), :class => 'choose_me' %>