<% @page_class = @renderer.layout_class -%>
<% @page_title = @renderer.title -%>
<% @page_id    = @renderer.page_id -%>
<div id="content">
  <h1><%= @renderer.title %></h1>
  <ul>
  <% @renderer.pages.each do |page| %>
    <li>
      <h2><%= link_to page.title, page_path({:id => page}.merge(page.published_on_parts)) %></h2>
      <p><%= page.preamble %> <span class="date"><%= l page.published_on, :format => :long %></span></p>
    </li>
  <% end %>
  </ul>
  <%#= render :partial => 'pages/templates/blog/archive', :locals => { :renderer => @renderer } %>
</div>
