.content_block {
  position:relative;
  margin-bottom:3em;
  padding-top:0; }
  .content_block > .title,
  .content_list > .title {
    background:#f2f2f2;
    padding:10px 40px 10px 40px;
    font-weight:bold;
    color:#000;}
  .content_block .controls {}
    .content_block .controls .add {margin-bottom:0;}
    .content_block .controls .new {cursor:pointer}
    .content_block .controls ul {
        z-index:9999;
        font-size:.857142857em;
        list-style:none;
        margin:0 0 1em 0; }
        .content_block .controls li {
          margin:0 0 .25em 10px; }
        .content_block .controls a {display:block;}

.contents {
  min-height:50px;}
.contents li.content {
  position:relative;
  list-style:none;
  padding:1em 250px 1em 40px;
  border-top:1px solid #ddd;
  background:#fff; }
  .contents li.content > .edit {
    position:absolute;
    top:.5em;
    right:1em;
    background:rgba(255,255,255,.8);
    display:none; }
    .contents li.content > .edit a {
      display:inline-block;
      padding:10px 5px;
      vertical-align:middle; }
  .contents li.content > .draghandle {
    position:absolute;
    top:0;
    left:0;
    vertical-align:middle;
    width:40px;
    height:50px;
    cursor:move;
    background:transparent url(/graphics/porthos/ui_new.png) 10px -780px no-repeat;
    display:none; }
  .contents li.content:hover > .draghandle,
  .contents li.content:hover > .edit {
    font-size:.75em;
    display:block; }

  .contents .actual_content {}
    .contents .actual_content .title {margin:0;}
    .contents .actual_content h1 {
      font-size:2em;
      margin:0; }
    .contents .actual_content h2 {
      font-size:1.5em;
      margin:0; }
    .contents .actual_content p + h1,
    .contents .actual_content p + h2 {
      margin-top:1em; }
    .contents .actual_content h3,
    .contents .actual_content h4,
    .contents .actual_content h5,
    .contents .actual_content h6 {
      margin:0;
      font-size:1em;
      font-weight:bold;
      color:#000; }
    .contents .actual_content p,
    .contents .actual_content ul {margin:.8em 0 .8em 0;}
      .contents .actual_content ul li {
        margin:0 0 .5em 1.5em;
        padding:0; }
    .contents .actual_content *:first-child {margin-top:0;}

    .contents .actual_content p {}
    .contents .inactive {
      max-height:40px;
      overflow:hidden; }
      .contents .inactive .actual_content {
        opacity:.3; }

  .contents .actual_content.teaser,
  .contents .actual_content.image,
  .contents .actual_content.video {padding-left:95px;}
    .contents .actual_content.teaser .thumbnail,
    .contents .actual_content.teaser .no_image,
    .contents .actual_content.image img,
    .contents .actual_content.video img {
      float:left;
      width:80px;
      height:80px;
      margin-left:-95px;
      font-size:12px;
      text-align:center;
      border:1px solid #eee;  }
      .contents .actual_content.teaser .no_image:hover {border-color:#ccc;}
      .contents .actual_content.teaser .no_image span {
        display:block;
        margin-top:25px; }

  .contents .actual_content.module .title,
  .contents .actual_content.video .title {
    padding-left:20px;
    background:transparent url(/graphics/porthos/ui_new.png) 0 -1050px no-repeat; }
  .contents .actual_content.video .title {background-position:0 -1120px;}

  .contents li.collection {
    margin:0;
    padding:0; }
    .contents li.collection ul {
      list-style:none;
      margin:0;}
    .contents li.collection ul .add {
      margin:0;
      padding-left:40px;
      border-top: 1px solid rgb(221, 221, 221); }

#workspace #content.datums {
  padding:0; }
  .datum {
    margin:0;
    padding:20px 40px 20px 40px;
    border-top:1px solid #ddd;}
    .datum:first-child {border-top:none;}
    .datum .viewable > h2,
    .datum.content_block > h2 {
      margin:0 0 .5em 0;
      font-size:1em;
      color:#999; }
    .datum label {margin-top:0;}
    .datum .submit {
      font-size:.857142857em;
      margin-top:.5em;}
    .datum .content {
      color:#000;}
    .datum div.edit {
      margin-top:.5em;
      font-size:.857142857em;}
    .datum .content {
      font-size:1.142857143em; }
  .datum.association {}
    .datum.association ul {
      list-style:none;
      margin:0; }
    .datum.association li {
      margin:0 0 .25em -40px;
      padding:0 0 0 40px; }
      .datum.association li .drag_handle {
        top:-3px;
        left:15px; }
      .datum.association li .drag_handle,
      .datum.association li .delete { display:none; }
      .datum.association li:hover .drag_handle {display:block;}
      .datum.association li:hover .delete {display:inline;}
    .datum.association li .page {
      font-size:1.142857143em; }
    .datum.association li .delete {margin-left:1em;}
    .datum.association .select_page {
      margin-top:.5em;
      padding:10px;
      background:#f5f5f5; }
      .datum.association .select_page label {display:none;}
      .datum.association .select_page .submit_inline {
        display:inline;
        font-size:.857142857em;}
  .datum.asset {}
    .datum.asset img {
      float:left;
      margin-right:20px; }
    .datum.asset .title {
      padding-top:1.5em;
      font-weight:bold; }
    .datum.asset .caption {
      font-size:.857142857em; }
  .datum.asset.one_to_many {}
    .datum.asset.one_to_many .content {margin-bottom:.5em;}

#pages_view.show #sub_nav div.submit {
  margin-top:0.5em;
  font-size:.857142857em; }
#pages_view.show #sub_nav div.submit input {
  font-size:1em; }

body#pages_view #pages_list {list-style:none;}
  body#pages_view #pages_list li {
    margin:0; }
  body#pages_view #pages_list .title {font-size:16px;}
  body#pages_view #pages_list .updated_at {
    display:block;
    margin:0 0 1em 1em;
    font-size:12px;
    color:#666; }
