<% @page_title = t('.title') %>
<div id="workspace">
  <div class="header">
    <h1><%=t '.title'%> </h1>
  </div>
  <div id="content">
    <%= form_for @content, :as => :content, :url => admin_page_datum_contents_path(@page, @datum) do |f| %>
      <%= render :partial => 'admin/contents/teasers/form', :locals => { :f => f } %>
    <% end %>
  </div>
</div>