<% @page_title = "Lägg till ny redaktör" -%>
<% @page_class = "A" -%>
<div id="workspace">
  <div class="header">
    <h1>Lägg till ny redaktör</h1>
  </div>
  <div id="content">
    <%= form_for @user, :url => admin_users_path, :html => { :multipart => true } do |f| %>
      <%= render :partial => "form", :locals => { :f => f } %>
      <div class="submit">
        <%= f.submit t(:save) %> eller <%= link_to "Avbryt", previous_view_path(admin_users_path) %>
      </div>
    <% end %>
  </div>
</div>
